
/*=====Implementação de fontes=====*/
  @font-face {
    font-family:LDFComicSans;
    src:url("/arquivos/fontes/LDFComicSans.ttf");
    
  }

  @font-face {
    font-family:LDFComicSansBold;
    src:url("/arquivos/fontes/LDFComicSansBold.ttf");
    
  }

  @font-face {
    font-family:LDFComicSansHairline;
    src:url("/arquivos/fontes/LDFComicSansHairline.ttf");
    
  }

  @font-face {
    font-family:LDFComicSansLight;
    src:url("/arquivos/fontes/LDFComicSansLight.ttf");
    
  }


.body_1{
    background-image: url(/arquivos/imagem/b.jpg)
}
.body_1{
    background-size: cover
}
.body_1{
    background-attachment: scroll
}


a{color : blue; font-size: 20px}
table{color : blue; font-size: 50px}

#title{
 color: rgb(255, 200, 61);
 font-size: 60px;
 font-weight: 900;
 font-family:LDFComicSansBold;
 letter-spacing: 3px;
}
#size1{
 font-size: 40px; 
}
#size2{
 font-size: 100px; 
}

#ordem{
font-size: 50px;
display: block;
padding-bottom: 500px;
color: rgba(247, 222, 0, 0.521);
}

#ordem_2{
color: rgba(2, 45, 126, 0.616);
font-size: 100px;
display: block;
padding-bottom: 200px;
}

#endpage{
 text-decoration: none;
}

#bot_rdp{
 display: block;
 margin: 20px 0px;
    
}

#duck_flip{
 width: 300px;
 height: 400px;
 display: none;

}





/*===== PAGINA 2 ====== */

#body_2{
    background-color: #ffffff;
}

#giflgbt{
    display: flex;
    width: 500px;
    height: 600px;
    margin: auto;

}

#txt_bv{
    font-size: 50px;
    color: rgba(214, 81, 219, 0.678) ;
    text-align: center;

}

#footer{
    margin-top: 60px;
}

#inst1{
    display:flow-root;
    
}


/*====== modelo pronto botão brabo ======*/
#bot_voltar {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
  }
  
  #bot_voltar:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
  }


/*====== adaptação modelo movel ======*/

@media (max-width: 485px) {

    #giflgbt{
     width: 200px;
    }
  
  }

  @media (max-width: 485px) {

    #duck_flip{
     width: 200px;
     height: 400px;
       
       }
  
  }



























